.blocks-wrapper {
    display: flex;
    margin: 0 auto;
    padding: 30px 0 20px 0;
}

.blocks {
    display: grid;
    grid-column-gap: 8px;
    flex-wrap: wrap;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    font-family: Fira, sans-serif;
}

.block {
    display: inline-flex;
    height: 199px;
    width: 299px;
    border-radius: 20px;
    margin: 10px;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;

    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right, #f7ffeb, #e5ffba);
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.2);

    transition: all 0.2s ease;
    z-index: 1;
    overflow: hidden;
}

.block-background {
    position: absolute;
    height: 200px;
    width: 300px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.block:hover {
    box-shadow: 0 0 30px 10px rgba(49, 49, 49, 0.82);
}

.block h2 {
    background-color: white;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 10px 20px;
    z-index: 3;

    font-size: 0.8em;
    font-weight: normal;
    cursor: pointer;
}

.block.add {
    background-color: rgba(255, 255, 255, 0.6);
    background-image: none;
    font-size: 1.5em;
    cursor: pointer;
}
