.block {
    display: inline-block;
    align-items: normal;
    padding: 20px;
}

.block.add {
    display: flex;
    align-items: center;
}

.block-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.block-content p {
    display: inline-block;
    font-size: 0.46em;
    cursor: default;
}

.block-content img {
    display: inline-block;
    width: 25px;
}

.block .block-title-wrapper {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block .block-title {
    text-align: center;
    z-index: 3;
    font-size: 0.7em;
    font-weight: normal;
    cursor: default;
}

.block-info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 15px;
}

.icon-text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.datetime {
    display: flex;
    flex-direction: column;
}

.date, .time {
    margin: 0;
}

.place-wrapper p {
    margin: 0;
}

.place-wrapper,
.datetime-wrapper,
.person-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tags-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.4em;
    align-items: center;
}

.tags-wrapper button {
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    color: #026228;

    background: transparent;
    border: none;
    cursor: pointer;
    max-width: fit-content;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    max-width: min-content;
    margin: 3px;
    padding: 2px 8px;
    border-radius: 10px;
    background-color: #026228;
    color: #FFFFFF;

    font-weight: lighter;
    cursor: pointer;
}

.person-container {
    margin-top: auto;
}

.person-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.person-info p {
    margin: 0;
}

.block-content .person-name {
    color: #0008BF;
    cursor: pointer;
}

.block-content .person_additional-info {
    color: #545252;
    font-style: italic;
    font-size: 0.4em;
}
