* {box-sizing: border-box;}
body {
    background-image: url("pngegg.png");
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

a {
    color: black;
    text-decoration: none;
}

input {
    border-radius: 5px;
    border: hidden;
    padding: 0;
}

.menu {
    height: 50px;
    width: 100%;
    background: linear-gradient(to right, #F1FFDB, #E5FFBA);
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    box-sizing: border-box;
    align-items: center;
}

nav {
    display: flex;
    gap: 10px;
}

.groups-wrapper {
    display: flex;
    margin: 0 auto;
}

.groups {
    display: grid;
    grid-column-gap: 8px;
    flex-wrap: wrap;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
}

.block {
    display: inline-flex;
    height: 250px;
    width: 400px;
    border-radius: 20px;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;

    background-color: green;
    background-size: cover;
    background-position: center;
}

.add {
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
}


.search{
    gap: 0;
    position: relative;
    width: 300px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 10px;
}

input.placeholder {
    text-align: center;
}

input, .searchButton {
border: none;
outline: none;
background: transparent;
}

input {
width: 100%;
padding-left: 42px;
}

.searchButton {
width: 42px;
position: absolute;
top: 0;
left: 0;
cursor: pointer;
}


.groupTitle {
    background-color: white;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}