.modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1050;
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms ease-in;
}

.modal-blackout {
    width: 100%;
    height: 100%;
    background-color: rgba(9, 9, 9, 0.53);
}

.modal-view {
    position: fixed;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EFFFD5;
    width: 600px;
    height: 420px;
    border-radius: 20px;
}

.modal-view form {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.modal-view input[type="text"] {
    width: 500px;
    height: 40px;
    padding: 0 10px;
    background: #ffffff;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0 3px 5px rgba(42, 42, 42, 0.2); /* гориз,  верт смещение, размытие, цвет */;
    text-align: center;
    font-size: 1.3em;

}

.modal-view input[type="text"]::placeholder {
    text-align: center;
    transition: all 0.2s ease;
}

.modal-view input[type="text"]:focus::placeholder {
    opacity: 0;
}

.name-input-label {
    position: relative;
}

.name-input-label::after {
    margin-top: 5px;
    height: 20px;
    content: "До 18 символов";
    color: #424242;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    font-family: Fira, sans-serif;
    font-weight: normal;
    font-size: 0.9em;
}

.modal-view input[type="file"] {
    display: none;
}

.custom-image-upload {
    display: block;
    position: relative;
    width: 420px;
    height: 280px;
    background-color: #FFFFFF;
    background-image: url("site_images/upload_image.svg");
    box-shadow: 0 3px 5px rgba(42, 42, 42, 0.2);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin-top: 20px;
}

.custom-image-upload h3 {
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Fira, sans-serif;
    font-weight: normal;
    background-color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: 0 3px 7px rgba(42, 42, 42, 0.4);
    transition: opacity 0.7s ease, box-shadow 0.2s linear;
    min-width: max-content;
    cursor: pointer;
}

.custom-image-upload h3:hover {
    box-shadow: 0 3px 10px rgba(19, 19, 19, 0.63);
}

.modal-view button {
    height: 40px;
    width: 170px;

    background: #038C00;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.3em;
    border-radius: 20px;
    border: none;
    outline: none;
}
