header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    height: 50px;
    padding: 0 20px;
    background: linear-gradient(to right, #F1FFDB, #E5FFBA);
    box-sizing: border-box;
    align-items: center;
    font-family: "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); /* гориз,  верт смещение, размытие, цвет */
}

input:-webkit-autofill,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, width 0.3s ease;
}

.menuGroup.profile {
    border: none;
    outline: none;
    background: none;
    font-family: "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif;
    font-size: 1em;
}

.profile-info-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    right: 10px;
    padding: 20px;
    top: 55px;
    width: 300px;
    height: fit-content;
    background: #F1FFDB;
    border-radius: 15px;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.46);
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.profile-info-container p {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
    margin: 0;
    font-size: 1.4em;
}

.profile-info-container .profile-additional-info p  {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: left;
    margin: 0 0 5px 0;
    font-size: 1.2em;
    color: #424242;
}

header .profile-info-container a {
    text-align: left;
    margin: 10px 0 0 0;
    color: #3b3b3b;
    text-decoration: underline;
}

header .profile-info-container a:hover {
    color: #707070;
}

.menuGroup {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: default;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    color: #06461c;
}

header a {
    color: black;
    text-decoration: none;
}

.search {
    gap: 0;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 10px;
    transition: all 0.3s ease;
}

header input {
    border-radius: 5px;
    border: hidden;
    padding: 0 20px 4px 42px;
    width: 150px;
    text-align: center;
    transition: all 0.3s ease;
}

header input::placeholder {
    text-align: center;
    padding-right: 30px;
    transition: all 0.2s ease;
}

header input:focus::placeholder {
    opacity: 0;
}

header input:focus {
    width: 350px;
}

.searchButton {
    position: absolute;
    padding-top: 2px;
    top: 0;
    left: 0;
    cursor: pointer;
}

header input, .searchButton {
    border: none;
    outline: none;
    background: transparent;
}

.profile-svg {
    width: 25px;
}

@media screen and (max-width: 1000px) {
    .search {
        display: none;
    }

    .menuGroup.profile p {
        display: none;
        color: grey;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        display: none;
    }
}
