.modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1050;
    pointer-events: none;
    opacity: 0;
    /*opacity: 1;*/
    transition: opacity 200ms ease-in;
}

.modal-blackout {
    width: 100%;
    height: 100%;
    background-color: rgba(9, 9, 9, 0.53);
}

.modal-view {
    position: fixed;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EFFFD5;
    width: 600px;
    height: 420px;
    border-radius: 20px;
}

.modal-view form {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.modal-view .reloadImage {
    position: absolute;
    width: 25px;
    right: -10px;
    top: -10px;
    color: #0d361a;
    transition: all 50ms ease-out;
}

.modal-view .reloadImage:hover {
    filter: drop-shadow(0px 4px 5px rgba(79, 93, 60, 0.38));
}

.modal-view .display-none-input {
    display: none;
}

.modal-view .name-input-label input[type="text"] {
    width: 500px;
    height: 40px;
    padding: 0 10px;
    background: #ffffff;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0 3px 5px rgba(42, 42, 42, 0.2); /* гориз,  верт смещение, размытие, цвет */;
    text-align: center;
    font-size: 1.3em;

}

.modal-view input[type="text"]::placeholder {
    text-align: center;
    transition: all 0.2s ease;
}

.modal-view input[type="text"]:focus::placeholder {
    opacity: 0;
}

.name-input-label {
    position: relative;
}

.name-input-label::after {
    margin-top: 5px;
    content: "До 35 символов";
    color: #424242;
    width: 100%;
    text-align: center;
    height: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    font-family: Fira, sans-serif;
    font-weight: normal;
    font-size: 0.9em;
}


.modal-add-content-wrapper {
    position: relative;
    width: 560px;
    height: 300px;
    padding-left: 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
}

.modal-view .tags {
    width: 520px;
    gap: 7px
}

.modal-view .tags-add-hint {
    font-family: Fira, sans-serif;
    font-weight: normal;
    font-size: 1.1em;
    margin: auto 5px;
    transition: opacity 0.2s ease-in;
}

.modal-view .tag {
    font-size: 1.2em;
    margin: auto 5px;
    border-radius: 15px;
    border: none;
    width: fit-content;
    text-align: center;
    transition: width 0.2s ease;
    background-color: #026228;
}

.modal-view .modal-add-content-wrapper .tag {

    width: 100px;
}

.modal-view .tag input {
    background-color: #026228;
}

.modal-view .tag input:-webkit-autofill,
.modal-view .tag input:-webkit-autofill:active,
.modal-view .tag input:-webkit-autofill:past {
    transition: background-color 5000s ease-in-out 0s;
}

.modal-view .datetime-place-info {
    display: flex;
    justify-content: space-between;
    width: 520px;
}

.modal-view .datetime-place-info input,
.modal-view .members-limit input[type="number"],
.modal-view textarea {
    width: fit-content;
    height: 15px;
    padding: 10px;
    font-size: 1.5em;
    border: none;
    border-radius: 20px;
    box-shadow: 0 3px 5px rgba(42, 42, 42, 0.2);
    text-align: center;
}

.modal-view .datetime-place-info input[type="text"] {
    width: 177px;
    font-size: 1.1em;
}




.modal-view .members-limit {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal-view .members-limit input[type="number"] {
    width: 70px;
    padding-left: 20px;
    font-size: 1em;
}

.modal-view .members-limit input[type="number"] {
    margin: 0;
    background-color:  #f1f1f1;
}

.modal-view .members-limit input[type="number"]::placeholder {
    color: rgba(98, 98, 98, 0.6);
}

.modal-view .members-limit label {
    font-family: Fira, sans-serif;
    font-weight: normal;
    font-size: 1.1em;
    margin: 0;
}



.modal-view textarea {
    width: 480px;
    padding: 20px;
    height: fit-content;
    min-height: 150px;
    resize: vertical;
    overflow-y: auto;
    text-align: left;
}

.modal-view textarea::placeholder {
    transition: all 0.2s ease;
}

.modal-view textarea:focus::placeholder {
    opacity: 0;
}

.modal-view button {
    height: 40px;
    width: 170px;

    background: #038C00;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.3em;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0 3px 5px rgba(42, 42, 42, 0.15);
    transition: all 0.1s ease-out;
}

.modal-view button:hover {
    box-shadow: 0 2px 5px rgb(148, 171, 137);
}
