.modal-wrapper.info {
    /*opacity: 1;*/
    /*pointer-events: auto;*/
}


.modal-wrapper.info .modal-view {
    height: 500px;
    font-family: Fira, sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.modal-wrapper.info .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.modal-wrapper.info .modal-add-content-wrapper {
    width: 560px;
    height: 400px;
    padding-left: 0;
    margin-top: 0;
}

.modal-wrapper.info .modal-add-content-wrapper .tags {
    justify-content: left;
}

.modal-wrapper.info .tag {
    font-size: 1em;
    width: fit-content;
}

.modal-wrapper.info .modal-add-content-wrapper .members-info {
    margin-top: 10px;
    font-size: 1.5em;
}

.modal-wrapper.info .modal-add-content-wrapper .members-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.modal-wrapper.info .modal-add-content-wrapper .member {
    background: rgba(152, 210, 155, 0.45);
    margin: 5px;
    padding: 15px 20px;
    border-radius: 10px;
    color: #1c441b;
}

.modal-wrapper.info h1 {
    font-weight: 500;
    width: 560px;
    margin: 0;
}

.modal-wrapper.info .modal-view .datetime-place-info {
    display: flex;
    justify-content: left;
    width: 560px;
    gap: 40px;
    font-size: 1.2em;
    font-weight: 500;
}

.modal-wrapper.info .modal-view .groupNameInfo {
    width: 560px;
    margin-top: -10px;
    font-size: 1.2em;
    font-weight: 500;
    text-align: left;
}

.modal-wrapper.info .modal-view button {
    background: #038C00;
    margin: 0 auto;
}
