body {
    margin: 0;
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right, #f7ffeb, #e5ffba);
}

.background-container {
    position: fixed;
    top: -2.5%;
    left: -2.5%;
    width: 105%;
    height: 105%;
    background-image: url("groups_images/fiit.png");
    opacity: 0.8;
    color: #FFFFFF;
    filter: blur(5px);
    background-size: cover;
    z-index: -1;
}

.background-dimmer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.source-group-name {
    display: none;
    margin: 30px auto 20px auto;
    padding: 5px 20px;
    min-width: 150px;
    width: fit-content;
    text-align: center;
    background-color: #F6FFE8;
    border-radius: 10px;
    font-family: "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif;
    font-weight: 500;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.2);
}
