.block {
    display: inline-block;
    position: relative;
    align-items: normal;
    padding: 20px;
    height: 190px
}

.block.add {
    display: flex;
    align-items: center;
}

.meeting-status {
    position: absolute;
    /*filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));*/
    top: 25px;
    right: 20px;
    width: 40px;
    cursor: pointer;
}

.meeting-status-tooltip {
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 0 4px;
    border-radius: 5px;
    font-size: 0.37em;
    top: 68px;
    right: 3px;
    cursor: default;
    user-select: none;

    transition: opacity 0.3s;
}

.meeting-status:hover + .meeting-status-tooltip {
    opacity: 1;
}

.block-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.block-content p {
    display: inline-block;
    font-size: 0.46em;
    cursor: default;
}

.block-content img {
    display: inline-block;
    width: 25px;
}

.block .block-title-wrapper {
    height: 53px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 230px;
}

.block .block-title {
    text-align: left;
    z-index: 3;
    font-size: 0.7em;
    font-weight: normal;
    cursor: default;
}

.block-info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /*margin-top: 15px;*/
    margin-top: auto;
}

.icon-text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.datetime {
    display: flex;
    flex-direction: column;
}

.date, .time {
    margin: 0;
}

.place-wrapper p {
    margin: 0;
}

.place-wrapper,
.datetime-wrapper,
.person-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tags-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.4em;
    width: 170px;
    align-items: center;
}

.tags-wrapper button {
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    color: #026228;

    background: transparent;
    border: none;
    cursor: pointer;
    max-width: fit-content;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    max-width: min-content;
    margin: 3px;
    padding: 2px 8px;
    border-radius: 10px;
    background-color: #026228;
    color: #FFFFFF;

    font-weight: lighter;
    cursor: pointer;
}

.person-container {
    margin-top: 10px;
}

.person-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.person-info p {
    margin: 0;
}

.block-content .person-name {
    color: #0008BF;
    cursor: pointer;
}

.block-content .person-additional-info {
    color: #545252;
    font-style: italic;
    font-size: 0.4em;
    cursor: pointer;
}

.members-count-info {
    position: absolute;
    height: min-content;
    right: 20px;
    bottom: 20px;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 20px;
    background-color: #63ad61;
    font-size: 0.5em;
}

