.modal-wrapper.info .modal-view {
    height: 80%;
    font-family: Fira, sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 40px;
}

.modal-wrapper.info .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.modal-wrapper.info .modal-add-content-wrapper {
    width: inherit;
    height: 400px;
    margin-top: 0;
    padding-left: 0;
    overflow-x: hidden;
}

.modal-wrapper.info .modal-add-content-wrapper .tags {
    justify-content: left;
    width: inherit;
}

.modal-wrapper.info .tag {
    font-size: 1em;
    width: fit-content;
}

.modal-wrapper.info .modal-add-content-wrapper .members-info {
    margin-top: 10px;
    font-size: 1.5em;
}

.modal-wrapper.info .modal-add-content-wrapper .members-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.modal-wrapper.info .modal-add-content-wrapper .member {
    background: rgba(152, 210, 155, 0.45);
    margin: 5px;
    padding: 15px 20px;
    border-radius: 10px;
    color: #1c441b;
}

.modal-wrapper.info h1 {
    font-weight: 500;
    width: inherit;
    margin: 0;
}

.modal-wrapper.info .modal-view .datetime-place-info {
    display: flex;
    justify-content: left;
    width: inherit;
    gap: 40px;
    font-size: 1.2em;
    font-weight: 500;
}

.modal-wrapper.info .modal-view .groupNameInfo {
    width: inherit;
    margin-top: -10px;
    font-size: 1.2em;
    font-weight: 500;
    text-align: left;
}


@media screen and (max-width: 680px) {
    .modal-wrapper.info .modal-view {
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .modal-wrapper.info .modal-view {
        width: 290px;
        padding: 25px;
    }

    .modal-wrapper.info .modal-view h1 {
        font-size: 1.7em;
    }

    .modal-wrapper.info .modal-add-content-wrapper .members-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .modal-wrapper.info .modal-add-content-wrapper .members-info {
        font-size: 1.3em;
    }

    .modal-wrapper.info .modal-view .datetime-place-info {
        flex-direction: column;
        gap: 10px;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 350px) {
    .modal-wrapper.info .modal-view {
        width: 250px;
        padding: 10px 20px;
    }
}
