.modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1050;
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms ease-in;
}

.modal-blackout {
    width: 100%;
    height: 100%;
    background-color: rgba(9, 9, 9, 0.53);
}

.modal-view {
    position: fixed;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EFFFD5;
    width: 600px;
    height: 470px;
    border-radius: 20px;
}

.modal-view form {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.modal-view .name-input-label input[type="text"] {
    width: 500px;
    height: 40px;
    padding: 0 10px;
    background: #ffffff;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0 3px 5px rgba(42, 42, 42, 0.2); /* гориз,  верт смещение, размытие, цвет */;
    text-align: center;
    font-size: 1.3em;
}

.modal-view input[type="text"]::placeholder {
    text-align: center;
    transition: all 0.2s ease;
}

.modal-view input[type="text"]:focus::placeholder {
    opacity: 0;
}


.name-input-label {
    position: relative;
}

.name-input-label::after {
    margin-top: 5px;
    color: #424242;
    width: 100%;
    text-align: center;
    height: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    font-family: Fira, sans-serif;
    font-weight: normal;
    font-size: 0.9em;
}



.modal-view button {
    height: 40px;
    width: 170px;
    margin: auto auto 0 auto;

    background: #038C00;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.3em;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0 3px 5px rgba(42, 42, 42, 0.15);
    transition: all 0.1s ease-out;
}

.modal-view button:hover {
    box-shadow: 0 2px 5px rgb(148, 171, 137);
}

