<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Группы</title>
    <link rel="stylesheet" href="blocks.css">
    <link rel="stylesheet" href="groups.css">
    <link rel="stylesheet" href="groups_modal_add.css">
    <link rel="stylesheet" href="header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
</head>
<body>
    <header>
        <div class="menuGroup">
            <div class="logo">MindUp</div>
        </div>
        <div class="menuGroup">
            <a href="groups.html" class="groupsLink">Группы</a>
            <a href="meetings.html" class="meetings">Все встречи</a>
            <div class="search">
                <form>
                    <label>
                        <input type="text" placeholder="Поиск" id="searchInput" onkeypress="handleKeyPress(event)">
                    </label>
                    <button type="button" class="searchButton" onclick="searchInGroups()">
                        <img src="site_images/search.svg" alt="search" width="21px">
                    </button>
                </form>
            </div>
        </div>
        <button class="menuGroup profile" onclick="openProfileInfo()">
            <img src="site_images/profile.svg" alt="Profile" class="profile-svg"></img>
            <p>Профиль</p>
        </button>
        <div class="profile-info-container">
            <p id="profileName">Рыбин Илья Байденович</p>
            <div class="profile-additional-info">
                <p id="profileEmail">Email: bebra.com</p>
                <p id="profilePubDate" style="font-size: 1em; margin-bottom: -5px">Зарегистрирован: 2024-05-08 17:07:08</p>
            </div>
            <a href="authorisation.html">Выйти</a>
        </div>
    </header>
    <div class="background-container"></div>
    <div class="blocks-wrapper">
        <div class="blocks">
            <div class="block group add">Добавить группу</div>
        </div>
    </div>
    <div class="modal-wrapper" id="modal-add">
        <div class="modal-blackout"></div>
        <div class="modal-view">
            <form action="/api/send_group" method="post" enctype="multipart/form-data">
                <label class="name-input-label">
                    <input type="text" name="title" placeholder="Название группы" maxlength="18" required>
                </label>
                <label for="group-image-upload" class="custom-image-upload">
                    <h3>Заменить изображение</h3>
                    <input type="file" id="group-image-upload" name="image" accept="image/jpeg, image/png">
                </label>
                <div style="display: flex; justify-content: space-between; width: 380px">
                    <button type="button" onclick="closeModal()" style="background: rgb(171,171,171);">Отмена</button>
                    <button type="submit">Создать</button>
                </div>
            </form>
        </div>
    </div>

    <script src="network.js"></script>
    <script src="header_controller.js"></script>
    <script src="block_controller.js"></script>
    <script src="groups.js"></script>
    <script src="backend_groups.js"></script>
    <script src="backend_header.js"></script>
</body>
</html>