<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Встречи</title>
    <link rel="stylesheet" href="meetings.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="blocks.css">
    <link rel="stylesheet" href="meetings_blocks.css">
    <link rel="stylesheet" href="meetings_modal_add.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
</head>
<body>
    <header>
        <div class="menuGroup">
            <a href="/brawlstars" class="logo">MindUp</a>
        </div>
        <div class="menuGroup">
            <a href="groups.html" class="groupsLink">Группы</a>
            <a href="meetings.html" class="meetings">Все встречи</a>
            <div class="search">
                <form>
                    <label>
                        <input type="text" placeholder="Поиск" id="searchInput" onkeypress="handleKeyPress(event)">
                    </label>
                    <button type="button" class="searchButton" onclick="search()">
                        <img src="site_images/search.svg" alt="search" width="21px">
                    </button>
                </form>
            </div>
        </div>
        <a href="/brawlstars" class="menuGroup profile">
            <img src="site_images/profile.svg" alt="Profile" class="profile-svg"></img>
            <p>Профиль</p>
        </a>
    </header>
    <div class="background-container">
        <div class="background-dimmer"></div>
    </div>
    <div class="blocks-wrapper">
        <div class="blocks">
            <div class="block add">Добавить встречу</div>
            <div class="block">
                <img src="site_images/person_cancel.svg" alt="Отказаться" class="meeting-status">
                <div class="meeting-status-tooltip">Отказаться</div>
                <div class="block-content">
                    <div class="block-title-wrapper">
                        <div class="block-title">Базы данных,<br> разбор д/з</div>
                    </div>
                    <div class="block-info">
                        <div class="meeting-info-container">
                            <div class="icon-text-container">
                                <div class="datetime-wrapper">
                                    <img src="site_images/time_medium.svg" alt="time icon" title="bebra">
                                    <div class="datetime">
                                        <p class="date">26.06.24</p>
                                        <p class="time">14:30</p>
                                    </div>
                                </div>
                                <div class="place-wrapper">
                                    <img src="site_images/place.svg" alt="place icon">
                                    <p>Матмех, 612</p>
                                </div>
                            </div>
                        </div>
                        <div class="tags-wrapper">
                            <div class="tags">
                                <div class="tag" onclick="tagSearching(this)">#программирование</div>
                                <div class="tag" onclick="tagSearching(this)">#домзад</div>
                                <div class="tag" onclick="tagSearching(this)">#БД</div>
                            </div>
                            <button>посмотреть все</button>
                        </div>
                    </div>
                    <div class="person-container">
                        <img src="site_images/person.svg" alt="person icon">
                        <div class="person-info">
                            <p class="person-name">Степан Кучин</p>
                            <p class="person-additional-info" title="stepa.kuchin@urfu.me">stepa.kuchin@urfu.me</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block">
                <img src="site_images/person_ok.svg" alt="Записаться" class="meeting-status">
                <div class="meeting-status-tooltip">Записаться</div>
                <div class="block-content">
                    <div class="block-title-wrapper">
                        <div class="block-title">ML, контест</div>
                    </div>
                    <div class="block-info">
                        <div class="meeting-info-container">
                            <div class="icon-text-container">
                                <div class="datetime-wrapper">
                                    <img src="site_images/time_medium.svg" alt="time icon">
                                    <div class="datetime">
                                        <p class="date">10.05.24</p>
                                        <p class="time">18:30</p>
                                    </div>
                                </div>
                                <div class="place-wrapper">
                                    <img src="site_images/place.svg" alt="place icon">
                                    <p>Онлайн</p>
                                </div>
                            </div>
                        </div>
                        <div class="tags-wrapper">
                            <div class="tags">
                                <div class="tag" onclick="tagSearching(this)">#говно</div>
                                <div class="tag" onclick="tagSearching(this)">#фиит</div>
                                <div class="tag" onclick="tagSearching(this)">#мл</div>
                            </div>
                            <button>посмотреть все</button>
                        </div>
                    </div>
                    <div class="person-container">
                        <img src="site_images/person.svg" alt="person icon">
                        <div class="person-info">
                            <p class="person-name">Илья Рыбин</p>
                            <p class="person-additional-info" title="ilya.rybin@urfu.me">ilya.rybin@urfu.me</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-wrapper" id="modal-add">
        <div class="modal-blackout"></div>
        <div class="modal-view">
            <form>
                <label class="name-input-label">
                    <input type="text" name="name" placeholder="Введите название встречи" maxlength="35" required>
                </label>
                <div class="modal-add-content-wrapper">
                    <div class="tags">
                        <p class="tags-add-hint">Добавить тег</p>
                        <div class="tag">+</div>
                        <label>
                            <input type="text" class="tag" name="tag1">
                        </label>
                    </div>
                    <div class="datetime-place-info">
                        <label>
                            <input type="date" name="date">
                        </label>
                        <label>
                            <input type="time" name="time">
                        </label>
                        <label>
                            <input type="text" name="place" placeholder="Место" maxlength="35" required>
                        </label>
                    </div>
                    <label>
                        <textarea name="description" placeholder="Описание встречи"></textarea>
                    </label>
                </div>
                <div style="display: flex; justify-content: space-between; width: 380px">
                    <button type="button" onclick="closeModal()" style="background: rgb(171,171,171);">Отмена</button>
                    <button type="submit">Создать</button>
                </div>
            </form>
        </div>
    </div>
    <script src="header_controller.js"></script>
    <script src="block_controller.js"></script>
    <script src="meetings.js"></script>
    <script src="meetings_modal_add.js"></script>
    <script src="network.js"></script>
    <script src="backend_meetings.js"></script>
</body>
</html>