<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MindUp</title>
    <link rel="stylesheet" href="auth_main_styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
</head>
<body>
<div class="image-container">
    <div class="main-background"></div>
</div>
<div class="login-container">
    <h1 class="MindUpTitle">MindUp</h1>
    <form action="register" method="post" id="register">
        <h2 class="hello-text">Регистрация</h2>
        <h3>Введите данные пользователя</h3>
        <label>
            Имя пользователя
            <input type="text" name="userName" required placeholder="Введите имя пользователя">
        </label>
        <label>
            Электронная почта
            <input type="email" name="email" required placeholder="Введите адрес электронной почты">
        </label>
        <label>
            Пароль
            <input type="password" name="password" required placeholder="Введите пароль">
        </label>
        <button type="submit" class="entranceButton">
            Зарегистрироваться
        </button>
        <div class="underText">
            Уже есть&nbsp<a href="authsdn.html">учетная запись</a>
        </div>
    </form>
</div>
</body>
</html>