<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MindUp</title>
    <link rel="stylesheet" href="registration.css">
</head>
<body>
<div id="imageContainer">
    <img src="pngwing.com.png" alt="test" class="welcomeImage">
</div>
<div id="loginContainer">
    <h1 class="MindUpTitle">MindUp</h1>
    <form action="register" method="post" id="register">
        <h2 class="helloText">Регистрация</h2>
        <h3>Введите данные пользователя</h3>
        <label>
            Имя пользователя
            <input type="text" name="userName" required placeholder="Введите имя пользователя">
        </label>
        <label>
            Электронная почта
            <input type="email" name="email" required placeholder="Введите адрес электронной почты">
        </label>
        <label>
            Пароль
            <input type="password" name="password" required placeholder="Введите пароль">
        </label>
        <button type="submit" class="entranceButton">
            Зарегистрироваться
        </button>
    </form>
</div>

</body>
</html>