<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MindUp</title>
    <link rel="stylesheet" href="auth_main_styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
</head>
<body>
<div class="image-container">
    <div class="main-background"></div>
</div>
<div class="login-container">
    <h1>MindUp</h1>
    <form action="login" method="post" id="login">
        <h2 class="hello-text">Привет!</h2>
        <h3>Введите email и пароль, чтобы продолжить</h3>
        <label>
            Электронная почта
            <input type="email" name="email" required placeholder="Введите электронную почту">
        </label>
        <label>
            Пароль
            <input type="password" name="password" required placeholder="Введите пароль">
        </label>
        <button type="submit">
            Войти
        </button>
        <div class="underText">
            Нет аккаунта?&nbsp<a href="registration.html">Регистрация</a>
        </div>
    </form>
</div>

</body>
</html>