<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MindUp</title>
    <link rel="stylesheet" href="auth_main_styles.css">
    <link rel="stylesheet" href="registration.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
</head>
<body>
<div class="image-container">
    <div class="main-background"></div>
</div>
<div class="login-container">
    <h1 class="MindUpTitle">MindUp</h1>
    <form action="register" method="post" id="register">
        <h2 class="hello-text">Регистрация</h2>
        <h3>Введите данные пользователя</h3>
        <label>
            Имя
            <input type="text" name="userName" placeholder="Введите имя пользователя" required>
        </label>
        <label>
            Фамилия
            <input type="text" name="sur_name" placeholder="Введите фамилию пользователя" required>
        </label>
        <label>
            Отчество (необязательно)
            <input type="text" name="last_name" placeholder="Введите отчество пользователя">
        </label>
        <label>
            Электронная почта
            <input type="email" name="email" placeholder="Введите адрес электронной почты" required>
        </label>
        <label>
            Пароль
            <input type="password" name="password" placeholder="Введите пароль" required>
        </label>
        <button type="submit" class="entranceButton">
            Зарегистрироваться
        </button>
        <div class="underText">
            Уже есть&nbsp<a href="authorisation.html">учетная запись</a>
        </div>
    </form>
</div>
</body>
</html>